@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .image-container {
  padding: 10px;
}

.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .image-container .image img {
  width: 350px;
  align-items: center;
}

.main .image-container h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.main .image-container p {
  color: #324042;
  text-align: center;
  margin-bottom: 40px;
}

.main .talk {
  background: #00bcd4;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
  margin-top: 20px;
}

.main .talk:hover {
  background: #0097a7;
  transform: scale(1.1);
}

.main .talk i {
  font-size: 20px;
  color: #fff;
}

.main .content {
  color: #aed0d0;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .main .image-container .image img {
    width: 250px;
  }

  .main .image-container h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .main .image-container .image img {
    width: 200px;
  }

  .main .image-container h1 {
    font-size: 25px;
  }

  .main .content {
    font-size: 12px;
  }
}
